<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jugs of Blood</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @*<li>@Html.ActionLink("Audio", "Audio", "Home")</li>*@
                    @*<li>@Html.ActionLink("Video", "Video", "Home")</li>*@
                    @*<li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>*@
                    @*<li>@Html.ActionLink("Tour Dates", "TourDates", "Home")</li>*@
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JugsOfBlood.com</p>
            <ul class="list-services">
                <li>
                    <a title="Twitter" href="https://twitter.com/jugsofbloodband">
                        <img src="~/Content/Images/icons/twitter.png">
                    </a>
                </li>
                <li>
                    <a title="Facebook" href="https://www.facebook.com/jobhellametal/">
                        <img src="~/Content/Images/icons/facebook.png">
                    </a>
                </li>
                <li>
                    <a title="YouTube" href="https://www.youtube.com/channel/UCkPL-SN7bPCe4A6jMicppzA">
                        <img src="~/Content/Images/icons/youtube_2.png">
                    </a>
                </li>
            </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
